<div class="container">
    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{ message}}
    </div>
    {{/if}}
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Atrás</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">{{currentMonth}} / {{currentYear}}</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Adelante</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
    <h1>Cantidad de movimientos: {{movimientos.length}}</h1>

<div class="container">
  <div class="row">
    {{#each categorias as | categoria |}}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h2>{{categoria.nombre}}</h2>
            {{categoria.idCategoria}}
            {{#each movimientos as | movimiento |}}
              {{movimiento.idcategoria}}
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">{{movimiento.nombre}}</h5>
                    <p class="card-text">ID Movimiento: {{movimiento.idMovimiento}}</p>
                  </div>
                </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>



    
</div>