<div class="container mt-2">
  {{#if error}}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {{/if}}
  
  <header class="text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
      <span class="arrow-icon">&lt;</span>
      {{currentMonth}} / {{currentYear}}
      <span class="arrow-icon">&gt;</span>
    </nav>
  </header>

  <h1 class="text-center">Cantidad de movimientos: {{movimientos.length}}</h1>
  <div class="d-flex overflow-auto">
    {{#each categorias as | categoria |}}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body" style="background-color: {{categoria.color}};">
            <h2>{{categoria.nombre}}</h2>

            <ul class="list-group">
              {{#each categoria.movimientos as | movimiento |}}
              <li class="list-group-item">
                <h5 class="card-title">{{movimiento.detalle}}</h5>
                <p class="card-text">ID Movimiento: {{movimiento.idMovimiento}}</p>
              </li>
              {{/each}}
            </ul>

          </div>
          <div class="card-footer">
            <h2>Total: {{categoria.total}}</h2>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
