  <style>
    .custom-border {
      border: 1px solid #ccc;
      padding: 20px;
      text-align: center; /* Alinea el contenido al centro */
    }

    .mb-3-custom {
      margin-bottom: 15px; /* Espacio entre elementos */
    }

    .btn-center {
      display: flex;
      justify-content: center;
    }

  </style>

<form action="/users/movimientos/{{#if modificar}}modificar/{{idMovimiento}}{{else}}crear/{{/if}}" method="post">
  <h1 class="mb-3 mb-3-custom">
    {{#if modificar}}
      Modificar
    {{else}}
      Crear
    {{/if}}
    Movimiento
  </h1>
  <div class="form-group mb-3 mb-3-custom">
    <label for="movimiento">Detalle:</label>
    <input type="text" class="form-control" id="detalle" name="detalle" placeholder="Detalle del movimiento" {{#if modificar}}value="{{nombre}}" {{/if}} required>
    <label for="categoria">Categoria</label>
    <select name="idCategoria" class="form-select form-select-lg mb-3">
        {{#each categorias}}
            <option value="{{idCategoria}}" style="background-color: {{color}}">{{nombre}}</option>
        {{/each}}
    </select>
    <label for="monto" class="form-label">Monto:</label>
    <input type="number" step="0.01" class="form-control" id="monto" name="monto" placeholder="Ingrese el monto" required>

    <div class="mb-3">
    <label for="fecha" class="form-label">Fecha:</label>
    <input type="date" class="form-control" id="fecha" name="fecha">
    </div>
  </div>
  <div class="btn-center">
    <button type="submit" class="btn btn-primary">
      {{#if modificar}}
        Modificar
      {{else}}
        Crear
      {{/if}}
    </button>
  </div>
</form>